@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #121212;
  }

  body {
    background: #000;
    background: linear-gradient(to top, #171717, #121212);
  }
}

.yt-lite:before {
  background-image: none !important;
}
